<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155068375807-htucfcbqg46adk66o0hktd3dbuf1got7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155068375807-htucfcbqg46adk66o0hktd3dbuf1got7</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-uzwBspv_NwHIgoWqorqiEN2aiCfYwo</string>
	<key>GCM_SENDER_ID</key>
	<string>155068375807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OwnCompany.Warning</string>
	<key>PROJECT_ID</key>
	<string>waring-6ed7d</string>
	<key>STORAGE_BUCKET</key>
	<string>waring-6ed7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155068375807:ios:686e0817a932d4d095e2ca</string>
</dict>
</plist>