<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392503486574-vigsdc9tc4e5qdbcge050bmqnm354brd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392503486574-vigsdc9tc4e5qdbcge050bmqnm354brd</string>
	<key>API_KEY</key>
	<string>AIzaSyCTZUpHj5N2kDBEeXCWH8SoHIaI8po_KsI</string>
	<key>GCM_SENDER_ID</key>
	<string>392503486574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OwnCompany.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-8f335</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-8f335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392503486574:ios:1452d4a13db41516a09e7f</string>
</dict>
</plist>